<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>03_15_demo2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C4A59941C97F27400A94190</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4A59AD1C97F27400A94190</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4A59B81C97F27400A94190</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
